@model ParticipantViewModel

<div class="row mb-2">
	<label asp-for="Name" class="col-md-3 col-form-label">Juriidiline nimi:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="Name" type="text" class="form-control">
	</div>
</div>
<div class="row mb-2">
	<label asp-for="RegistrationCode" class="col-md-3 col-form-label">Registrikood:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="RegistrationCode" type="number" class="form-control">
	</div>
</div>
<div class="row mb-2">
	<label asp-for="ParticipantAmount" class="col-md-3 col-form-label">Osavõtjate arv:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="ParticipantAmount" type="number" class="form-control">
	</div>
</div>
<div class="row mb-2">
	<label asp-for="PaymentMethodTypeId" class="col-md-3 col-form-label">Maksmisviis:</label>
	<div class="col-md-9 ps-lg-5">
		<select asp-for="PaymentMethodTypeId" class="form-select" asp-items="@(List<SelectListItem>)ViewBag.PaymentMethodTypeList">
			<option selected></option>
		</select>
	</div>
</div>
<div class="row mb-2">
	<label asp-for="Info" class="col-md-3 col-form-label">Lisainfo:</label>
	<div class="col-md-9 ps-lg-5">
		<textarea asp-for="Info" class="form-control" rows="2" maxlength="5000"></textarea>
	</div>
	<span asp-validation-for="Info" class="text-danger"></span>
</div>

@Html.HiddenFor(m => m.IsCompany)
@Html.HiddenFor(m => m.EventId)