@model string

<div class="row">
	<div class="text-pos col-3 p-0">
		<p class="text-lible">
			@Model
		</p>
	</div>
	<div class="col-9 p-0">
		<img class="img-libled" src="~/images/libled.jpg" />
	</div>
</div>