@model ParticipantViewModel

<div class="row mb-2">
	<label asp-for="Person.FirstName" class="col-md-3 col-form-label">Eesnimi:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="Person.FirstName" type="text" class="form-control">
		<span asp-validation-for="Person.FirstName" class="text-danger"></span>
	</div>
</div>
<div class="row mb-2">
	<label asp-for="Person.LastName" class="col-md-3 col-form-label">Perekonnanimi:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="Person.LastName" type="text" class="form-control">
	</div>
</div>
<div class="row mb-2">
	<label asp-for="Person.IdCode" class="col-md-3 col-form-label">Isikukood:</label>
	<div class="col-md-9 ps-lg-5">
		<input asp-for="Person.IdCode" type="number" class="form-control">
		<span asp-validation-for="Person.IdCode" class="text-danger"></span>
	</div>
</div>
<div class="row mb-2">
	<label asp-for="Person.PaymentMethodTypeId" class="col-md-3 col-form-label">Maksmisviis:</label>
	<div class="col-md-9 ps-lg-5">
		<select asp-for="Person.PaymentMethodTypeId" class="form-select" asp-items="@(List<SelectListItem>)ViewBag.PaymentMethodTypeList">
			<option selected></option>
		</select>
		<span asp-validation-for="Person.PaymentMethodTypeId" class="text-danger"></span>
	</div>
</div>
<div class="row mb-2">
	<label asp-for="Person.Info" class="col-md-3 col-form-label">Lisainfo:</label>
	<div class="col-md-9 ps-lg-5">
		<textarea asp-for="Person.Info" class="form-control" rows="2" maxlength="1500"></textarea>
	</div>
</div>

@Html.HiddenFor(m => m.Person.Id)
@Html.HiddenFor(m => m.IsCompany)
@Html.HiddenFor(m => m.EventId)
